html {
  background-color: #F8FDFF;
}
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: white;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;

}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.erasBlock {
  position: absolute;
  top: 80px;
  min-width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  height: 3098vh;
  z-index: 1300;
}

.era {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 30px;
}

.era h1 {
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.1;
  color: black;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
}

.ant-modal-root {
  z-index: 1500;
  position: fixed;
  top: 20px;
  right: 20px,
}

.ant-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal {
  /* Убедитесь, что у модального окна нет своей фиксированной позиции */
  position: relative;
  max-height: 90vh; /* Чтобы очень высокое модальное окно не выходило за пределы */
}

.fixed-element {
  position: sticky;
  top: 20px; /* Сверху */
  right: 20px; /* Справа */
  z-index: 1000; /* Поверх остальных элементов */
}

/* Оверлей на весь экран (фиксированный) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

/* Само модальное окно */
.modal-content {
  background: #ffffff;
  color: #333333;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  
  /* Защита от вылезания контента за экран при сильном масштабировании */
  max-width: 50%;
  max-height: 50%;
  overflow-y: auto; 
}

/* Кнопка закрытия */
.close-btn {
  margin-top: 20px;
  color: #f0edff;
  background: #6c5ce7;
  padding: 4px 12px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #0056b3;
}

/* Адаптив */
@media (max-width: 768px) {
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }
  
  /* Само модальное окно */
  .modal-content {
    position: absolute;
    background: #ffffff;
    color: #333333;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    min-width: 750px;
    max-width: 750px;
    max-height: 80%;
  }
}

.ant-modal-wrap {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}